@font-face {
    font-family: "Prociono";
    src: url('assets/fonts/Prociono.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

:root {
    font-size: calc(1vw + 0.6em);
}

@media (min-width: 992px) {
    :root {
        font-size: 16px;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Prociono", sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

.appContainer {
    padding: 0px 5px 0px 5px;
}